.code-editor-container {
    height: 600px;
}

/* .gs-renderer > .gs-symbolizer-olrenderer {
    height: 40px;
}

.gs-renderer .gs-symbolizer-olrenderer {
    height: 40px;
} */

/* .geostyler-legend-renderer text {
    fill: var(--text-default-grey);
} */
